* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Menu bar  */

.navbar {
  display: flex;
  padding: 0 15px;
  width: 100%;
  position: fixed;
  background-color: #6f6af7;
  color: white;
}
.navbar div {
  padding: 20px 0;
}
.top-nav {
  width: 15%;
  text-align: left;
  font-family: "Brush Script MT", cursive;
  font-size: xx-large;
}
.center-nav {
  text-align: center;
  width: 70%;
}
.center-nav ul li {
  display: inline-block;
  margin: 0 30px;
}
ul {
  list-style-type: none;
  font-family: Verdana, sans-serif;
  margin-top: 12px;
}
li a {
  text-decoration: none;
  color: white;
}
select {
  background-color: #6f6af7;
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  cursor: pointer;
}
input.search {
  padding: 5px 5px;
  border-radius: 15px;
  border-color: white;
}
input {
  caret-shape: underscore;
}
.search-icon {
  position: absolute;
  color: gray;
  margin-left: 150px;
  margin-top: 5px;
}
.end-nav {
  width: 15%;
  text-align: right;
}
.end-nav a {
  color: white;
  font-size: xx-large;
}

/* Media icons */

.social {
  position: sticky;
  top: 80px;
  margin-top: 25vh;
  float: right;
}
.social img {
  height: 40px;
  display: block;
  width: fit-content;
}

/* Main division  */

.main {
  display: flex;
  align-items: center;
  padding-top: 55px;
}
.main1 {
  height: 55vh;
  width: 25%;
}
.main1 img {
  width: 245px;
  height: 245px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 74px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(53, 63, 69, 0.365),
    0 6px 20px 0 rgba(47, 58, 66, 0.22);
}
.main2 {
  margin-top: auto;
  background-color: #e5d8ff;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 10px;
  height: 43vh;
  width: 73%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: inset 0 4px 8px 0 rgb(232, 180, 248); */
  box-shadow: inset 0 4px 8px 0 rgb(232, 180, 248),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.19);
}
.main2 p {
  color: #6f7373;
  font-family: Verdana, sans-serif;
}
@media screen and (max-width: 600px) {
  .main {
    width: 100%;
    display: block;
  }
  .main1 {
    width: 100%;
    display: block;
  }
  .main2 {
    width: 100%;
    display: block;
  }
}

/* cards */

.column {
  float: left;
  width: 25%;
  padding: 0 20px;
}
.row {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 96.5%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  padding: 25px;
  text-align: center;
  color: white;
  border-radius: 10px;
}
.card1 {
  background: #929dff;
}
.card2 {
  background: #734cf2;
}
.card3 {
  background: #d288ff;
}
.card4 {
  background: #000000;
}
.card p {
  text-align: left;
  font-family: Verdana, sans-serif;
}

/* Final division  */

.final {
  display: flex;
  background-color: #483eff;
  justify-content: space-evenly;
  /* border: 1px solid black; */
  width: 93.5%;
  height: 60vh;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 10vh;
  border-radius: 20px;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.left button {
  padding: 20px 40px;
  background-color: transparent;
  border-color: white;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  border-style: solid;
  letter-spacing: 0.1em;
}
.left button:nth-child(1) {
  background: #bce0f6;
  color: black;
  border-color: #bce0f6;
  box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.39);
}
.right {
  box-sizing: border-box;
  width: 70%;
  height: 90%;
  background-color: white;
  color: black;
  margin: 2% 0 2% 0;
  border-radius: 20px;
  padding: 20px 30px;
  position: relative;
}
.topic {
  margin-left: 30px;
  color: #02485a;
  letter-spacing: 0.105em;
  font-size: 22px;
  font-weight: 800;
}
.list {
  margin-left: 90px;
  padding-top: 30px;
  color: #02485a;
  letter-spacing: 0.105em;
}
.right button {
  float: right;
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #000000;
  color: white;
}
@media screen and (max-width: 600px) {
  .final {
    width: auto;
    display: block;
    margin-bottom: 20px;
  }
  .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .right {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Bot image  */

div.bot {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 90%;
  position: fixed;
  right: 80px;
  bottom: 20px;
  cursor: pointer;
}
div.bot img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
